<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171719846677-p5altk3fpga021dv7dt7fi3fcpgk9ujq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171719846677-p5altk3fpga021dv7dt7fi3fcpgk9ujq</string>
	<key>API_KEY</key>
	<string>AIzaSyCc71jmyxrFIMNaulGXExz_b1cUCvFYBn8</string>
	<key>GCM_SENDER_ID</key>
	<string>171719846677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SecondApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-ae974</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-ae974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171719846677:ios:3422d3367c21f346a6d71c</string>
</dict>
</plist>